<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.scss">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monda&display=swap" rel="stylesheet">
    <script defer src="/assets/js/script.js"> </script>
</head>
<body>
        {% include navegador.html %}
        {{ content }}
        <div style="min-height:400px;"></div>
        {% include form.html %}
        {% include footer.html %}
    
</body>
</html>