#main-footer {
    text-align: center;
    color: rgb(245, 247, 164);
    background: rgb(182, 208, 243);
    padding: 4em 0.2em 1em 0.2em;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  